.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #9BA65B;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  margin: 10px 20px;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*Game*/
.container {
  margin-top: 50px;
}

/*Stars*/
.fa-star {
  font-size: 25px;
  padding: 10px 10px;
}

/*Numbers*/
.card {
  margin: auto auto;
  margin-top: 20px;
  text-align: center;
  width: 50%;
  border: 1px solid gray;
  border-radius: 5px;
}

/*Numbers & Answers*/
span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 10px 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
